# Compiled Object files
*.o
*.obj

# Compiled Dynamic/Static libraries
*.so
*.dylib
*.dll
*.a
*.lib

# Executables and outputs
*.exe
*.out
*.app
/user.bazelrc

# Bazel symlinks and outputs
bazel-*
/external
